// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";

.post .meta {padding-left:30px;}

.author, .date, .tags {padding-left: 0px !important;}

#header {background: #fff url('/images/nirdlogo.png') no-repeat right top;
background-size: 10%; padding: 10px 0 !important; margin-top: 10px; margin-bottom: 60px !important; height: 50px !important;}

#header h1 {
margin-top: 10px; }