// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
@import "footnote";
$white        : #FAFAFA;
$dark         : #282828;
$black        : #000000;
$grey         : #787878;
$light        : #AAA;
$pink         : #D32C58;
$brightpink   : #E33F68;
$lightpink    : #F6D4DD;
$transpink    : #C30E41;
$color-main   : #E33F68;

.post .meta {padding-left:30px;}

.author, .date, .tags {padding-left: 0px !important;}

#header 
  {width: 100% !important; 
  height: auto !important;
  background: #fff url('/images/nirdlogo.png') no-repeat left top;
  background-size: 120px; 
  padding: 10px 0 !important;}

#header h1, h4 {position: relative; top: 35px;}


body {font-family: 'Open Sans', Helvetica, sans-serif !important;} 

p {font-size: 1.2em !important;}


#main-nav {position: absolute; 
  top: 0px; right: 0px; 
  padding: 10px; 
  margin: 0px !important; 
  width: 100%;}

#main-nav .main-navigation {font-weight: 400; float: right;}
#main-nav a {color: $color-main !important;}
#main-nav a:focus {color: $black !important;}

@media screen and (max-width: 600px){
  #header h1, h4 {position: relative; top: 0px;}
  #header h4 {padding-bottom: 10px;}
  #header {background: none;}}

